<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>

            {% for state in stateCity %}
            <LI>{{ state }}: <B>{{ stateCity[state]['name'] }}</B>
                <UL>

                        {% for city in stateCity[state]['cities'] %}
                        <LI>{{ city }}: <B>{{ city</B></LI>
                        {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>